.content{
  margin: 0 auto;
  width: 1120px;
  background:azure;
  font-size:30px;
}

.file {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  border: 1px solid #999;
  background-color: #eee;
  width: 1100px;
  margin: 40px 24px;
	height: 200px;
}

.file p{
	text-align: center;
}

.file input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

#preview img{
  width: 500px;
  height: auto;
  float: left;
}

.comment {
  width: 500px;
  height: 50px;
  position: relative;
  margin-top: 200px;
}