.tiles{
  overflow: hidden;
}

#footer .vision{
  color:black;
}

.uk-modal-header .textcenter{
  text-align:center;
}

/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px) {
  .main_p {
    font-size: 30px;
    color: #f0f0f0;
    position: absolute;
    z-index: 100;
    top: 280px;
    margin-left: 39%;
  }
  .main_h1 {
    font-size: 100px;
    color: #f0f0f0;
    position: absolute;
    z-index: 100;
    top: 110px;
    margin-left: 33%;
  }
  .article ul {
    margin-left: -78px;
  }
  .posts {
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f5f5f5;
    width: 20%;
    height: 350px;
    margin-left: 5%;
    margin-top: 20px;
    overflow: hidden;
  }
  .posts:hover {
    background-color: #f1f1f1;
  }

  .post img{
    width: 212px;
  }
}
/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width: 640px) {
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  #container {
    width: 100%;
  }
}



@media screen and (min-width: 769px) {

.tiles {
  margin:20px 150px;
}

.tiles .posts{
  float: left;
  width: 20%;
  box-shadow: ;
  margin:20px;
  height: 350px;
  border-radius: 4px ;
  border: 1px solid black;

}

.posts .title{
  font-size: 17px;
  text-align: center;
  text-overflow: ellipsis;
}

.posts .body{
  font-size: 10px;
  text-overflow: clip;
}

#footer{
    height: 200px;
}

#footer p{
  text-align: center;
  color: white;
  margin-top: 160px;
}

}

@media screen and (max-width: 768px) {
/* ここにスタイルを記述 */
}
@media screen and (max-width: 640px) {
/* ここにスタイルを記述 */
}